/*mobile-friendly is essential*/

body
{

}

#typing
{
}

#drawing
{
	display: none;
}

#typecontent
{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 190px;
	height: 238px;
	margin-left: -95px;
	margin-top: -119px;
}

table
{
	display: block;
	padding: 4px;
	width: 180px;
	background-color: #3f3f3f;
	border: 1px solid #1e1e1e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px 0px #868686, 0px 10px 30px 0px rgba(0, 0, 0, 0.6), 0px 3px 8px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px 1px 0px 0px #868686, 0px 10px 30px 0px rgba(0, 0, 0, 0.6), 0px 3px 8px 0px rgba(0,0,0,0.4);
}